<div class="container">
  <div class="col-lg-12">
    <form [formGroup]="editMedForm" (ngSubmit)="onSubmit()">
      <div class="card">
        <div class="card-header">
          <h2>Editar Médico</h2>
        </div>
        <div class="card-body">
          <div class="container">

            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label for="name">Nome</mat-label>
                    <input type="text" matInput formControlName="name" placeholder="Digite o nome">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label for="email">Email</mat-label>
                    <input type="text" matInput formControlName="email" placeholder="Digite o email">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput placeholder="Digite a senha" formControlName="password" type="password">
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput placeholder="Digite o CRM" formControlName="crm" type="password">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <mat-form-field>
                    <mat-label>Titulação</mat-label>
                    <mat-select formControlName="titulation">
                      <mat-option *ngFor="let tit of tValues" [value]="tit">
                        {{tit}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer text-right">
          <div class="row justify-content-between">
            <div class="col-4 text-left">
              <button (click)="Voltar()" class="btn btn-outline-primary">Voltar<i class="material-icons pt-1"></i>
              </button>
            </div>
            <div class="col-4 text-right">
              <button class="btn btn-outline-dark" type="submit">Salvar<i class="material-icons pt-1">save</i>
              </button>
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
