<div class="container">
  <div class="col-lg-12">
    <form [formGroup]="UploadFormForm" (ngSubmit)="onSubmit()">
      <div class="card">

        <div class="card-header">
          <h2>Upload de exame</h2>
        </div>

        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                    <input type="file" (change)="onFileSelected($event)">
                    <button type="button" (click)="onUpload()">Upload</button>
                </div>
              </div>
              <div class="col-lg-6">
                <mat-form-field>
                    <mat-label>Data de Realização de Exame</mat-label>
                    <input formControlName="expectedDate" readonly matInput [matDatepicker]="picker"
                    placeholder="Clique no icone">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                 </mat-form-field> 
              </div>

            </div>
          </div>
        </div>

        <div class="card-footer text-right">
          <div class="row justify-content-between">
            <div class="col-lg-12 text-right">
              <button class="btn btn-outline-dark" type="submit">Salvar<i class="material-icons pt-1">save</i>
              </button>
            </div>
          </div>
        </div>
       </div>
    </form>
  </div>
</div>
