<!-- 
    <label>
        First Name:
        <input type="text" formControlName="firstName">
    </label>

    <label>
        Last Name:
        <input type="text" formControlName="lastName">
    </label>

    <button type="submit" [disabled]="!profileForm.valid">Submit</button> -->

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="card">
            <div class="card-header">
               <h2> Pedido de Exame</h2>
            </div>
            <div class="card-body">
                <div class="container">
                    <mat-form-field>
                        <input matInput placeholder="Nome" formControlName="firstName">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select formControlName="lastName"  placeholder="Tipo de exame">
                            <mat-option *ngFor="let exam of exams">{{exam.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</form>