<body class="background-body">

</body>
<mat-card>
    <mat-card-title class="p-5">
        <fa-icon [icon]="faHospital" class="mr-3 "></fa-icon> Clínica Universitária
    </mat-card-title>

    <mat-card-content>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field>
                    <input matInput id="email" type="text" placeholder="Email" formControlName="email" >
                   
                </mat-form-field>
            </p>
            
            <p>
                <mat-form-field>
                    <input matInput id="password" type="password" placeholder="Senha" formControlName="password" >
              
                </mat-form-field>
            </p>


            <div class="button text-center pt-3 pb-3">
                <button type="submit" color="primary" mat-raised-button>Entrar</button>
            </div>
        </form>


    </mat-card-content>
</mat-card>