<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Médicos</h2>
        </div>
        <div class="card-body">
                <table class="table text-center">
                        <thead>
                          <tr>
                            <th>Nome</th>
                            <th>CRM</th>
                            <th>AÇÃO</th>
                          
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let medico of medicos"class="text-center"> 
                                      
                            <td>{{medico.name}}</td>
                            <td>{{medico.crm}}</td>
                            <td>
                                <button (click)="Editar(medico)" class="btn btn-warning">Editar</button>
                                <button data-toggle="modal" data-target="#createModal" (click)="Delete(medico)"class="btn btn-danger">Remover</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>

        </div>
    </div>
</div>

